body {
	background-color: white;
	margin: 10px 10px 10px 10px;
}

h1 {
	color: black;
	font-family: arial, sans-serif; font-weight: bold;
	font-size: 20pt;
	text-align: center;
}

#body{
	width:992px;
	margin:0px auto;
}	

#MenuChicken {
	float: left;
	background: gray; 
	height: 200px;
	width: 326px;
	border: 2px solid black;
	word-wrap: break-word;
}

#MenuBeef {
	float: left;
	background: gray;
	height: 200px;
	width: 326px;
	border: 2px solid black;
}

#MenuSushi {
	float: left;
	background: gray;
	height: 200px;
	width: 326px;
	border: 2px solid black;
}
			
.Chicken {
		  float: right;
		  text-align: center;
		  font-family: arial, sans-serif; font-weight: bold;
		  font-size: 100%;
		  width: 30%;
		  border: 1px solid black;
		  background: darkblue;
		  padding-bottom:10px;
		  padding-top:10px;
	      }
.Beef {
		  float: right;
		  text-align: center;
		  font-family: arial, sans-serif; font-weight: bold;
		  font-size: 100%;
		  width: 30%;
		  border: 2px solid black;
		  background: orange;
		  padding-bottom:10px;
		  padding-top:10px;
	      }
.Sushi {
		  float: right;
		  text-align: center;
		  font-family: arial, sans-serif; font-weight: bold;
		  font-size: 100%;
		  width: 30%;
		  border: 2px solid black;
		  background: green;
		  padding-bottom:10px;
		  padding-top:10px;
	      }

@media screen and (max-width:991px){
	#body{
		width:100%;
	}
	#MenuChicken{
		width:48%;
	}
	#MenuBeef{
		width:49%;
	}
	#MenuSushi{
		width:98%;
	}
}


@media screen and (max-width:767px){
	#MenuChicken{
		width:100%;
	}
	#MenuBeef{
		width:100%;
	}
	#MenuSushi{
		width:100%;
	}
}
